.service_column_row{
    padding:0;
    justify-content: center;
    align-items: center;
    border-right:solid 1px black;
}

.service_container{
    height:90%;
    width:90%;
    border: solid 1px black;

}

.service_row{
    padding:20px;
    margin: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.service_row:hover{
    font-size: 32;
    font-weight: 600;
    cursor: pointer;
}

li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 24px;
    font-weight: 400;
    margin: 10px;
}

